body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.fireLight {
  position: fixed;
  width: 0vw;
  height: 0vh;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 5vw #fecf8d, 0 0 140px 65vw #db591b;
  top: 26%;
  left: 37%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
